#resume .title {
  font-variant: small-caps;
  font-weight: bold;
  padding-right: .5em;
  font-size: 125%;
}

#resume ul {
  padding: 0;
}

#resume ul ul {
  padding-left: 40px;
}

#resume li {
  list-style-type: none;
}

#resume li li {
  padding-bottom: .25em;
  list-style-type: square;
}

.indented {
  margin-left: 1em;
}

.resume-icon {
  width: 40px;
  height: 40px;
  margin: .75em;
}

#programming li {
  display: inline;
  list-style-type: none;
  padding: 1em;
  color: #666;
  font-size: small;
}

#programming ul {
  display: inline;
  padding-left: .5em;
  font-weight: normal;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  top: 20%;
  padding: 10px;
}

.btn-outline-dark, .btn-circle-alt {
    border-color: #2c3e50;
    color: #2c3e50;
    background: #fff;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-circle-alt:hover {
    border-color: #18bc9c;
    color: #fff;
    background: #18bc9c;
}

.btn.btn-outline-light {
  color: #fff;
}

#writing .btn {
  margin: 15px;
}